espaciado_Barra_Navegación{
    margin-left: 2px;
}
espaciado{
    padding: auto;
}
top{
    font-size: 3px;
}

.body_inicio_titulo{
    text-align: center;
}

.alineo{
    margin-left: 35%;
}
.body_inicio_desc{
    margin-left: 55px;
    margin-right: 55px;
}